<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RUN_MODE" value="DEVELOP" />
		<add key="MA_DON_VI" value="GEN" />
		<add key="MA_HE_THONG" value="KT" />

    <add key="SERVER" value="BEO\SQLEXPRESS" />
    <add key="INITIAL_DATABASE" value="QuanLyPhatHanhTraiPhieu" />
		<add key="FILL_DATABASE" value="QuanLyPhatHanhTraiPhieu" />
		<add key = "DATABASE_ACCESS_MODE" value = "USER_AND_PASSWORD"/>		
		<add key="INITIAL_USER" value="sa" />
		<add key="PASS_WORD" value="sa" />

    <add key="CA_NHAN_TRONG_NUOC" value="3" />
    <add key="TO_CHUC_TRONG_NUOC" value="5" />
    <add key="CA_NHAN_NUOC_NGOAI" value="4" />
    <add key="TO_CHUC_NUOC_NGOAI" value="6" />
	</appSettings>
</configuration>